extends ./layout.pug

block prepend body 
  body(data-wio-id=pageContent.id)

  include ./partials/header.pug
  -
  main.contact
    .links
      a(href=PrismicDOM.RichText.asText(pageContent.data.email))
        h1.home-link
          | Email
          h1
      a(href=PrismicDOM.RichText.asText(pageContent.data.instagram))
        h1.work-link
          | Instagram
          h1
      a(href=PrismicDOM.RichText.asText(pageContent.data.youtube))
        h1.blog-link
          | Youtube
          h1
      a(href=PrismicDOM.RichText.asText(pageContent.data.linkedin))
        h1.contact-link
          | LinkedIn
          h1     
    div.contact-image
      img(src="./images/contact.gif")
